body {
    margin: 0;
    border: none;
    padding: 0;
    background-image: url("./pictures/background-image.jpg");
    background-position: center;
    color: #2f2f2f;
    font-family: 'Playfair Display', sans-serif;
    font-size: 1rem;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 25%;
    margin-top: 25px;
    margin-bottom: -25px;
    justify-content: center;
    align-items: center;
}

h1:not(.signin) {
    font-size: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: -25px;
    text-align: center;
    padding-top: 20px;
}

#login-box { 
    background-color: #f9f7f1;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 250px;
    padding-top: 100px;
    padding-bottom: 150px;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: calc(100vw / 2.6);
    justify-content: center;
    box-shadow: 5px 5px 15px #2f2f2f;
}

.signin {
    font-size: 40px;
}

label {
    margin-bottom: 10px;
}

input {
    width: 250px;
    font-size: 1rem;
    margin-bottom: 20px;
}

button {
    width: 100px;
    padding: 5px;
    border: 1px solid #2f2f2f;
    background-color: #f9f7f1;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
}

button:hover {
    cursor: pointer;;
}