/* -------- profile -------- */

#profile-field {
    display: block;
    justify-content: center;
    visibility: visible;
    margin-left: 10px;
}

.profile-pic {
    width: 15%;
    max-width: 15%;
    margin-left: 50px;
}
