
/* -------- profile -------- */
#field {
    margin: auto;
    width: 100%;
    height: 100%;
}

#book-field {
    display: flex;
    justify-content: center;
}

#cover-div {
    margin-top: 100px;
    width: 230px;
    height: 330px;    
}

#cover-pic {
    background-image: url("./pictures/wolfsong-cover.jpg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#book-info {
    color: var(--secondary-color);
    margin-top: 100px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    max-width: 400px;
    max-height: 350px;
}

.title {
    font-size: 35px;
    letter-spacing: 1px;
    margin-bottom: -10px;
}

.author {
    font-size: 23px;
    font-weight: normal;
}

.summary {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rating-label, .lib-label {
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
}

.dropdown {
    color: var(--secondary-color);
    background: transparent;
    font-family: "Playfair Display", sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
}

#rating-dropdown {
    margin-right: 10px;
}

#library {
    margin-right: -50px;
}

.dropdown::placeholder {
    color: var(--secondary-color);
}

.dropdown:hover {
    cursor: pointer;
    background: var(--secondary-color);
    color: var(--primary-color);
}

#write-review-btn {
    margin-top: 10px;
    font-family: "Playfair Display", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: var(--secondary-color);
    background-color: transparent;
    padding: 11px;
    border-radius: 8px;
    border: 1px solid var(--secondary-color);
}


/* -------- REVIEW FIELD -------- */

#review-field {
    margin-top: 50px;
    border-top: 2px solid var(--secondary-color);
    display: flex;
    justify-content: space-evenly;
}

#cmt-field {
    margin-left: 150px;
    display: flex;
    justify-content: space-evenly;
}

#cmt-field #profile-pic {
    height: 70%;
}


#profile-div {
    width: 100px;
    height: 100px;
    justify-content: center;
    margin: 50px;
}

#profile-pic {
    background-image: url("./pictures/background-image.jpg");
    height: 80%;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

#username {
    text-align: center;
    font-size: 18px;
}

#review-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#btn-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#upvote-btn, #reply-btn {
    font-family: "Playfair Display", sans-serif;
    font-size: 15px;
    color: var(--secondary-color);
    background-color: transparent;
    border: 3px solid var(--secondary-color);
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 50px;
    transition: background 0.3s;
}

#upvote-btn:hover, #reply-btn:hover, #write-review-btn:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

#cmt-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
