/* -------- SEARCH RESULT -------- */

.book-list {
    visibility: hidden;
    padding-top: 70px;
}

#row {
    display: flex;
    flex-wrap: wrap;
}

#col {
    flex: 33%;
    max-width: 30%;
    margin-bottom: 10px;
}

#col img {
    margin-top: 8px;
    margin-left: 50px;
    float: left;
    cursor: pointer;
    border-radius: 5px;
}

#book-about {
    display: flex;
    flex-direction: column;
}

#book-about span {
    margin-bottom: 10px;
}

#search-res {
    margin-left: 50px;
    font-size: 35px;
}

#search-message {
    margin-left: 50px;
    font-size: 1rem;
    font-weight: 600;
}

#book-author {
    font-style: italic;
}


#add-option, #rating-option {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px;
    font-family: "Playfair Display", sans-serif;
    font-weight: 600;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    font-size: 15px;
    z-index: 3;
}

#add-option {
    margin-bottom: 10px;
}

.fa-star {
    color: var(--secondary-color);
    font-size: 1rem;
}

#book-cover {
    width: 150px;
    margin-right: 30px;
}

#book-title {
    font-weight: bold;
}

#rating {
    color: var(--secondary-color);
    background: var(--primary-color);
    font-family: "Playfair Display", sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
}

#rating::placeholder {
    color: var(--secondary-color);
}
